
@{
    ViewData["Title"] = "CreateBook";
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Agregar Libro</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Nombre del Libro</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Nombre del autor</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Año de publicación</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Fecha Leído</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Calificacion</label>
                                <input type="number" max="10" class="form-control">
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <label for="">Picture</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>